.header-section{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  .custom-navbar{
    .custom-navbrand{
      font-size: 25px;
      line-height: 50px;
      color: black;
      font-weight: bold;
    }
    .custom-navbar-collapse{
      .custom-navbar-nav{
        .custom-nav-item{
          .custom-nav-link{
            font-size: 15px;
            color: black;
            line-height: 24px;
            font-weight: 500;
            padding: 8px 10px;
          }
          .active{
            color: red;
          }
          .dropdown-toggle::after{
            content: url("../images/downarro.svg");
            display: inline-block;
            margin-left: 5px;
            vertical-align: 1px;
            border: none;
          }
        }
      }
      .custom-form{
        margin-left: 60px;
        h5{
          margin-bottom: 0px;
          font-size: 15px;
          font-weight: 500;
          margin-right: 15px;
        }
        .signup-btn{
          background: red;
          color: white;
          border: none;
          border-radius: 0px;
          font-size: 9px;
          padding: 5px 15px;
        }
      }
    }
  }
}



.list-effective-tools{
  background: #f7f6e2;

  .list-effext-options{
    padding: 70px 0px;
    h1{
      font-size: 45px;
      line-height: 60px;
      margin-bottom: 0px;
    }
    .img-col{
      align-self: flex-end;
    }
    p{
      font-size: 30px;
        line-height: 60px;
        margin-top: 20px;
        margin-bottom: 60px;
      span{
        color: #ff0440;
      }
    }
    .custom-form{
      .search{
        height: 44px;
        width: 515px;
        border: 1px solid #e5e5e5;
        padding-left: 15px;
        margin-right: 20px;
      }
      .search::placeholder{
        color: #959595;
      }
      .search-btn{
        font-size: 20px;
        font-weight: 600;
        border: none;
        background: red;
        border-radius: 0px;
      }
    }
  }
}


.helping-business-section{
  background: #ffffff;
  box-shadow: 0px 9px 5px -10px #CCC, 0px -8px 8px -10px #CCC;
  .helping-business-option{
    padding: 35px 0px;
    p{
      font-size: 20px;
      line-height: 30px;
      color: black;
      margin-bottom: 0px;
    }
    .custom-col{
      padding: 0px;
    }
    .brand-part{
      img:not(:last-child){
        margin-right: 23px;
      }
    }
  }
}


.video-caroudal-section{
  background: #f7f6e2;
  .video-carousel-option{
    padding: 60px 0px;
    h2{
      font-size: 40px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 40px;
    }
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
      text-align: center;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: black;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0px;
      border-radius: 3px 0 0 3px;
    }
    .prev{
      left: 0px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    // .prev:hover, .next:hover {
    //   background-color: rgba(0,0,0,0.8);
    // }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: #464646;
      border-radius: 5%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: red;
    }
    .fade:not(.show){
      opacity: 1;
    }
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  }
}


.why-innovation-section{
  background: #ffffff;
  box-shadow: 0px 9px 5px -10px #CCC, 0px -8px 8px -10px #CCC;
  .why-innovation-option{
    padding: 65px 0px;
    .why-innovation-stack{
      border-right: 1px solid black;
      h1{
        font-size: 50px;
        font-weight: 700;
        color: black;
        margin-bottom: 30px;
      }
      .change-text{
        color: red;
        font-size: 17px;
        line-height: 25px;
        font-weight: bold;
        margin-bottom: 25px;
      }
      p{
        font-size: 17px;
        line-height: 25px;
        color: black;
        margin-bottom: 0px;
      }
    }
    .feature-brand{
      h4{
        font-size: 17px;
        line-height: 25px;
        font-weight: 700;
        color: red;
      }
      .brand-logo{
        margin-top: 50px;
        .custom-col{
          margin-bottom: 60px;
        }
      }
    }
  }
}

.explore-software-section{
  background: #f7f6e2;
  .explore-software-options{
    padding: 75px 0px;
    h1{
      font-size: 50px;
      color: black;
      font-weight: 700;
      margin-bottom: 50px;
    }
    .all-explore-part{
      .custom-card{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border: none;
        .custom-card-body{
          .analitics-part{
            margin-bottom: 25px;
            .card-title{
              font-size: 15px;
              color: red;
              font-weight: bold;
              margin-bottom: 0px;
            }
            .card-text{
              font-size: 15px;
              color: black;
              margin-bottom: 0px;
              font-weight: 600;
            }
          }

          .cad-part{
            margin-bottom: 25px;
            .card-title{
              font-size: 15px;
              color: red;
              font-weight: bold;
              margin-bottom: 0px;
            }
            .card-text{
              font-size: 15px;
              color: black;
              margin-bottom: 0px;
              font-weight: 600;
            }
          }

          .crm-part{
            .card-title{
              font-size: 15px;
              color: red;
              font-weight: bold;
              margin-bottom: 0px;
            }
            .card-text{
              font-size: 15px;
              color: black;
              margin-bottom: 0px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}


.main-footer-section{
  background: #f0f3f5;
  .top-part{
    .custom-container{
      border-bottom: 1px solid #d1d3d5;
      padding: 50px 0px;
      p{
        font-size: 15px;
        color: #9e9fa2;
        font-weight: 600;
        margin-bottom: 0px;
        i{
          margin-right: 20px;
        }
      }
    }
  }

  .middle-part{
    .custom-container{
      border-bottom: 1px solid #d1d3d5;
      padding: 45px 0px;
      .global-part{
        h5{
          font-size: 15px;
            color: #6a6a6cb5;
            font-weight: bold;
            margin-bottom: 7px;
        }
      }
  
      .service-part{
        h5{
          font-size: 15px;
            color: #6a6a6cb5;
            font-weight: bold;
            margin-bottom: 7px;
        }
        a{
          text-decoration: none;
          color: #9e9fa2;
          p{
            margin-bottom: 5px;
          }
        }
      }
  
  
      .newsletter-part{
        h5{
          font-size: 15px;
            color: #6a6a6cb5;
            font-weight: bold;
            margin-bottom: 7px;
        }
        form{
          .custom-form-check{
            margin-bottom: 15px;
            .custom-form-check-label{
              font-size: 15px;
              color: #9e9fa2;
              margin-top: 10px;
            }
          }
  
          .custom-form-group{
            margin-bottom: 10px;
            .custom-form-control{
              border-radius: 0px;
            }
            .custom-form-control::placeholder{
              font-size: 15px;
              color: #9e9fa2;
              font-weight: 500;
            }
          }
          .subscribe-btn{
            background: #ff0440;
            border: none;
            border-radius: 0px;
            display: block;
            width: 262px;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .bottom-part{
    .custom-container{
      padding: 45px 0px;
      .condition-part{
        a{
          text-decoration: none;
          color: #9e9fa2;
          p{
            margin-bottom: 5px;
          }
        }
      }

      .copyright-part{
        p{
          font-size: 15px;
          font-weight: 700;
          color: #4a4a4fb5;
        }
      }

      .social-icon-part{
        text-align: center;
        margin-top: 20px;
        a:not(:last-child){
          margin-right: 15px;
        }
        a{
          i{
            color: #ff0440;
          }
        }
      }
    }
  }

}